<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Now!</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="base/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="base/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<style>
	body {
	  background-image: url('images/bg01.png');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: 100% 100%;
	}
	</style>



</head>
<body>

    

<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Book your Appointments now!</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="pateint.html" accesskey="1" title="">Homepage</a></li>
			<li><a href="contact.html" accesskey="2" title="">Contact Us</a></li>

		</ul>
	</div>
</div>
<div class="container-fluid">

	<div class="search">
	<h1>Find your Doctor</h1>
	<input type="text" name="" id="find" placeholder="search here...." onkeyup="search()">
	</div>
	
<div id="banner-wrapper">
	<div id="banner" class="container">
		<div class="product">
	    <div class="boxA">
			<img src="images/doc1.PNG"> 
			<h3>Dr. Mukesh Verma</h3>
			<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
			<div class="Experience">Experience:<span>7</span></div>
			
			<a href="bookform.html" class="button">Book Now</a>
		</div>
	    </div>
		<div class="product">
		<div class="boxB">
			<img src="images/doc2.PNG"> 
			<h3>Dr. Athiya Sharma</h3>
			<p>Dr. Athiya Sharma is a well-qualified dermatologist from Punjab with a career expanding nearly half a decade.</p>
			<div class="Experience">Experience:<span>4.5</span></div>
				
			<a href="bookform.html" class="button">Book Now</a>
		</div>
		</div>
		<div class="product">
		<div class="boxC">
		<img src="images/doc3.PNG"> 
		<h3>Dr. Paul Ghosh</h3>
		<p>Dr. Paul Ghosh is a well-qualified Dietician from Bangalore with a career expanding nearly half a decade.</p>
		<div class="Experience">Experience:<span>5</span></div>
				
		<a href="bookform.html" class="button">Book Now</a>
		</div>
		</div>
		<div class="product">
		<div class="boxA">
		<img src="images/doc1.PNG"> 
		<h3>Dr. Mukesh Verma</h3>
		<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
		<div class="Experience">Experience:<span>7</span></div>
				
		<a href="bookform.html" class="button">Book Now</a>
		</div>
		</div>
		<div class="product">
			<div class="boxB">
				<img src="images/doc2.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxC">
				<img src="images/doc3.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxA">
				<img src="images/doc1.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxB">
				<img src="images/doc2.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxC">
				<img src="images/doc3.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxA">
				<img src="images/doc1.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxB">
				<img src="images/doc2.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
		<div class="product">
			<div class="boxC">
				<img src="images/doc3.PNG"> 
				<h3>Dr. Mukesh Verma</h3>
				<p>Dr. Mukesh Verma is a well-qualified orthopaedic Surgeon from Delhi with a career expanding nearly a decade.</p>
				<div class="Experience">Experience:<span>7</span></div>
				
				<a href="bookform.html" class="button">Book Now</a>
			</div>
		</div>
				
	    
	</div>
</div>
</div>
<!-- javascript -->
<script type="text/javascript">
	function search() {
	let filter = document.getElementById('find').value.toUpperCase();
	let item = document.querySelectorAll('.product');
	let l = document.getElementsByTagName('h3');
	for(var i = 0;i<=l.length;i++){
	let a=item[i].getElementsByTagName('h3')[0];
	let value=a.innerHTML || a.innerText || a.textContent;
	if(value.toUpperCase().indexOf(filter) > -1) {
	item[i].style.display="";
	}
	else
	{
	item[i].style.display="none";
	}
	}
	}
	</script>




</body>
</html>
